src/pdfa.xmpi
src/phd_defense_presentation.aux
src/phd_defense_presentation.bbl
src/phd_defense_presentation.bcf
src/phd_defense_presentation.blg
src/phd_defense_presentation.lof
*.log
src/phd_defense_presentation.lot
src/phd_defense_presentation.out
src/phd_defense_presentation.pdf
src/phd_defense_presentation.synctex
src/phd_defense_presentation.synctex.gz
src/phd_defense_presentation.synctex(busy)
src/phd_defense_presentation.tcp
src/phd_defense_presentation.toc
src/phd_defense_presentation.tps
src/phd_defense_presentation.run.xml
src/phd_defense_presentation.fdb_latexmk
src/phd_defense_presentation.fls
src/phd_defense_presentation.nav
src/phd_defense_presentation.snm

*.bak
*.sav

src/interpretation/at/interpretation_at.pdf
src/interpretation/at/interpretation_at.tex
src/power_optimization_triplexes/power_optimization_triplexes_pU.pdf
src/power_optimization_triplexes/power_optimization_triplexes_pU.tex
src/power_optimization_triplexes/power_optimization_triplexes.pdf
src/power_optimization_triplexes/power_optimization_triplexes.tex
src/pt_calibration/pt_calibration.pdf
src/pt_calibration/pt_calibration.tex
src/rna_triplex/rna_triplex_conc.pdf
src/rna_triplex/rna_triplex_conc.tex
src/rna_triplex/rna_triplex_mg.pdf
src/rna_triplex/rna_triplex_mg.tex
src/rna_triplex/rna_triplex_spectra.pdf
src/rna_triplex/rna_triplex_spectra.tex
src/tel22/tel22_spectra.pdf
src/tel22/tel22_spectra.tex
